$logo-color: #03a9f4;
$tool-bar-color: #32383D;
$tool-bar-border_color: #171515;

.dash-container {
  display: flex;
  column-gap: 1cap;
}
.dash-container__body {
  display: flex;
  column-gap: 5px;
  font-weight: 600;
  padding: 10px;
  margin: 0px auto;
  font-size: 18px;
}
.dash-header {
  display: flex;
  column-gap: 10px;
  align-items: center;
}
.card-icon {
  padding-left: 5px;
  color: #edede9;
  transition: all 0.3s ease;
  &:hover {
    scale: 1.4;
  }
}
.dash-icon {
  @extend .card-icon;
  color: white;
  align-self: center;
  background-color: $logo-color;
  border-radius: 50%;
  height: 28px;
  width: 30px;
}

.dash-text {
  font-size: 14px;
}

.dash-badge {
  color: rgb(10, 9, 9);
}
.dash-group {
  display: flex;
  column-gap: 5px;
  flex-direction: column;
}
.dash-item {
  display: flex;
  padding: 4px;
  height: 35px;
  align-items: center;
  column-gap: 5px;
  font-size: 12px;
  transition: all 0.3s ease;

  &:hover {
    background-color: $logo-color;
    color: black;
    cursor: pointer;
  }
}

.logo_main {
  display: flex;
  font-size: 16px;
  align-items: center;
  column-gap: 10px;
  width: 100px;
  height: 25px;
  object-fit: cover;
  animation: fade-down 0.5s 0.4s backwards;
  transition: all 0.3s ease;
  background-color: $logo-color;
  justify-content: center;
  color: black;
  &:hover {
    background-color: rgb(4, 4, 4);
    color: $logo-color;
  }
}
.logo_text {
  padding: 1px;
  &:hover {
    color: $logo-color;
  }
}

.dropdown-item {
  font-size: 12px;
  padding: 1px;
}

.actions-nav-bar {
  background-color: $tool-bar-color;
}

.actions-nav-bar__content {
  --max-width: 1200px;
  --margin: 0 auto;
  padding: 0 10px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-areas: "logo func";
}

.toolbar-btn {
  background-color: $logo-color;
  border: $tool-bar-border_color;
  padding: 2px 4px;
  font-size: 10px;
  font-weight: 500;
  color: black;
  text-transform: uppercase;
  transition: all 0.3s ease;
  &:hover {
    background-color: rgb(4, 4, 4);
    color: $logo-color;
  }
}

.summary {
  display: flex;
  height: 50px;
  column-gap: 15px;
  justify-content: center;
  align-items: center;
  background-color: $tool-bar-color;
  border: $tool-bar-border_color solid 1px;
}
.summary__item {
  padding: 4px 5px;
  display: flex;
  column-gap: 2px;
  background-color: $tool-bar-color;
  //   border-radius: 1ch;
  transition: all 0.3s ease;
  &:hover {
    filter: brightness(0.9);
  }
}

.summary__item__value {
  color: rgb(255, 255, 255);
  font-size: 14px;
}
.summary__item__header {
  font-size: 12px;
}

.summary__item__header__badge {
  color: black;
}
